* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background-image: url(../img/zadniy-fon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(black, rgba(0, 0, 0, 0.589));
  width: 100%;
  height: 120px;

  position: fixed;
  z-index: 100;
}
.header-title {
  font-weight: 700;
  font-family: "Pacifico", cursive;
  text-shadow: 5px 5px 5px rgba(255, 0, 234, 0.575);

  line-height: 130%;
  color: rgb(255, 242, 0);
}
.header-subtitle {
  font-weight: 400;
  font-size: 16px;
  font-family: "Alumni Sans", sans-serif;

  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  color: white;
}
.header-button-menu {
  display: none;
}
.sidebar {
  display: none;
}
/* body */
.portfolio {
}
.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}
.portflio-header {
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-top: 50px;
}
.portfolio-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.title-photo {
  width: 600px;
  margin-inline: auto;
  animation: move 5s infinite;
  position: relative;
  margin-bottom: 60px;
}
.copybook-photo {
  width: 800px;
  margin: 20px auto 60px;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(1%, 0%);
  }

  50% {
    transform: translate(1%, 1%);
  }

  75% {
    transform: translate(0%, 1%) scale(1.1);
  }
}
.portfolio-body p {
  font-family: "Alumni Sans", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.1em;
}
.portfolio-body p + p {
  margin-top: 60px;
  margin-bottom: 20px;
}
/*  */
.footer-main {
  background-color: rgb(0, 0, 0);
  color: white;
}
.footer {
  max-width: 1110px;
  justify-content: space-between;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-family: "Alumni Sans", sans-serif;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
.footer-name,
.footer-contact {
  max-width: 350px;
  flex-grow: 1;
}
.footer-name {
}
.footer-name h4 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 25px;
}
.footer-name h4 > span {
  font-size: 22px;
}
.footer-name p {
  font-size: 15px;
}

.footer-contact {
  margin-top: 20px;
  text-align: center;
}
.footer-contact h4 {
  display: inline-block;
  font-size: 18px;
  color: rgb(207, 203, 203);
  padding: 8px;
  border: 4px solid rgb(207, 203, 203);
  border-radius: 25px;
  margin-bottom: 0;
  transition: 0.2s ease-in;
}
.footer-contact h4:hover {
  background-color: rgb(207, 203, 203);
  color: black;
}
.footer-contact p {
  font-size: 15px;
}
/*  */
@media (max-width: 500px) {
  .header-title {
    font-weight: 700;
    font-family: "Pacifico", cursive;
    text-shadow: 5px 5px 5px rgba(255, 0, 234, 0.575);
    line-height: 130%;
    color: rgb(255, 242, 0);
  }
  .header-subtitle {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    font-family: "Alumni Sans", sans-serif;

    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    color: white;
  }

  .header-button-menu {
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: 65%;
    left: 90%;
    transition: 0.1s ease-in;
    /* transform: translate(-50%, -50%); */
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .header-button-menu:hover {
    transform: scale(1.1);
    opacity: 0.4;
  }
  .sidebar {
    display: block;
    position: absolute;
    top: 100%;
    right: 1px;
    background-color: rgb(47, 154, 187);
    transform: translateX(0);
    transition: 0.3s ease-in;
  }
  .sidebar-hidden {
    transform: translateX(150%);
  }
  .sidebar p {
    color: white;
    padding: 20px 8px;
    margin: 0;
    transition: background-color 0.2s ease-in;
  }
  .sidebar a {
    text-decoration: none;
  }
  .sidebar p:hover {
    background-color: black;
  }

  .portfolio-body p {
    padding: 25px;
    font-family: "Alumni Sans", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.1em;
  }
  .title-photo {
    width: 350px;
    margin-inline: auto;
    animation: move 5s infinite;
    position: relative;
    margin-bottom: 60px;
  }
  .copybook-photo {
    width: 300px;
    margin-inline: auto;
    margin-top: 0;
  }
  .footer {
    justify-content: space-between;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: "Alumni Sans", sans-serif;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
  }
  .footer-name,
  .footer-contact {
    width: 100px;
    margin-inline: 8px;
  }
  .footer-name h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 25px;
  }
  .footer-name h4 > span {
    font-size: 18px;
  }
  .footer-name p {
    font-size: 10px;
  }

  .footer-contact h4 {
    display: inline-block;
    font-size: 12px;
    color: rgb(207, 203, 203);
    padding: 4px;
    border: 4px solid rgb(207, 203, 203);
    border-radius: 25px;
    margin-bottom: 0;
    transition: 0.2s ease-in;
    cursor: pointer;
  }

  .footer-contact p {
    font-size: 10px;
  }
}
