@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-origin: border-box;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
.dark {
  /* background-image: url(../img/dark.jpg); */
  background: linear-gradient(
    rgb(75, 47, 121),
    rgb(41, 76, 117),
    rgb(67, 173, 187)
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* head */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  width: 100%;
  height: 100vh;

  background-image: url(./img/title.jpg);
  background-size: cover;
  background-position: bottom;

  position: relative;
}
.header-title {
  font-weight: 700;
  font-family: "Pacifico", cursive;
  text-shadow: 5px 5px 5px rgba(255, 0, 234, 0.575);

  line-height: 130%;
  color: white;
}
.header-subtitle {
  font-weight: 400;
  font-size: 16px;
  font-family: "Alumni Sans", sans-serif;

  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  color: white;
}
/* chevron down */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 60%;
}
.arrows path {
  stroke: #ad3ac0;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}
.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}
.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
/* ///////////// */
.none {
  display: none;
}
/* nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  background: linear-gradient(to left, rgb(1, 50, 155), rgb(134, 13, 134));
  position: relative;
  box-shadow: 1px 1px 20px 1px black;
}

.circlesss {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}
.circlesss li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: circled 12s linear infinite;
  bottom: -150px;
}
.circlesss li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circlesss li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circlesss li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circlesss li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circlesss li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circlesss li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circlesss li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circlesss li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circlesss li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circlesss li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

/* links */
.links {
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  max-width: 300px;
  justify-content: space-around;
}
.links img {
  width: 40px;
}
.links a {
  margin: 0 20px;
  transition: 0.3s ease-in;
}
.links a:hover {
  transform: skew(-5deg) scale(1.3);
  opacity: 0.4;
}
.links a:active {
  transform: skew(-5deg) scale(1.3);
  opacity: 0.4;
}
/* section */
::-webkit-scrollbar {
  width: 1.3rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #222224;
}
::-webkit-scrollbar-track {
  background: #f9f9f9;
}
#tranding {
  padding: 4rem 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(183, 0, 255) 3%,
    rgb(0, 89, 255) 38%,
    rgb(4, 2, 110) 68%,
    rgb(0, 0, 0) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
  background-attachment: fixed;
}
.container {
  max-width: 124rem;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.section-heading {
  font-size: 4rem;
  color: white;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Sofia Sans Semi Condensed";
  text-shadow: 5px 3px 20px white;
}
.swiper-wrapper {
  padding: 30px 10px;
}
#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}
.tranding-slide {
  width: 37rem;
  height: 42rem;
}
.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}
.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/*neon border  */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
:root {
  --clr-1: #20052f;
  --clr-2: #530763;
  --clr-3: #7e0faa;
  --clr-4: #1f13c9;
  --clr-5: #917ae4;
}
.tranding-slide {
  aspect-ratio: 1 / 1.5;
  background: var(--clr-1);
  position: relative;
}
.tranding-slide::before,
.tranding-slide::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: 2rem;
  animation: rotation 4s linear infinite;
}
.tranding-slide::after {
  filter: blur(1.5rem);
}
/*neon border  */
.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}
.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: gold;
  font-size: 20px;
  text-shadow: -1px 0px 16px lime;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.swiper-slide {
  border-radius: 2em;
}
.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}
/* text */
.a {
  width: 100%;
  position: relative;
}
.text {
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: "Sofia Sans Semi Condensed";
  font-size: 26px;
  color: white;
  text-shadow: 1px 1px 5px lightcoral;
}
/* bottom slide */
.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #b702ff;
  transition: all 0.3s ease-in;
  border: 1px solid #b702ff;
  border-radius: 50%;
  padding: 5px;
}
.tranding-slider-control .slider-arrow ion-icon:active {
  color: rgb(0, 117, 189);
  background-color: orange;
  transform: scale(1.3);
}
.tranding-slider-control .slider-arrow ion-icon:hover {
  border-color: rgb(0, 117, 189);
  color: white;
  background-color: rgb(0, 117, 189);
}
.tranding-slider-control .slider-arrow::after {
  content: "";
}
.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  transition: 0.3s ease-in;
}
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #b702ff;
}
/* footer */
.footer-main {
  background: linear-gradient(to left, rgb(1, 50, 155), rgb(134, 13, 134));
  position: relative;
  box-shadow: 10px 1px 35px 10px black;
}
.circles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  pointer-events: none;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: circled 12s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.footer {
  max-width: 1110px;
  justify-content: space-between;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: white;
  font-family: "Alumni Sans", sans-serif;
  font-family: "Sofia Sans Semi Condensed", sans-serif;
}
.footer-name,
.footer-contact {
  max-width: 350px;
  flex-grow: 1;
  text-shadow: 1px 1px 10px wheat;
}
.footer-name h4 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 25px;
}
.footer-name h4 > span {
  font-size: 22px;
}
.footer-name p {
  font-size: 15px;
}
.footer-contact {
  margin-top: 20px;
  text-align: center;
}
.footer-contact h4 {
  display: inline-block;
  font-size: 18px;
  color: rgb(207, 203, 203);
  padding: 8px;
  border: 4px solid rgb(207, 203, 203);
  border-radius: 25px;
  margin-bottom: 0;
  transition: 0.2s ease-in;
}
.footer-contact h4:hover {
  background-color: rgb(207, 203, 203);
  color: black;
}
.footer-contact p {
  font-size: 15px;
}
/* keyframes */
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes circled {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* media queries */
@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}
@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}
@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
  #tranding {
    padding: 7rem 0;
  }
}
@media (max-width: 1060px) {
  .footer-name,
  .footer-contact {
    margin-inline: 20px;
  }
}
@media (max-width: 990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}
@media (max-width: 700px) {
  nav h2 {
    font-size: 16px;
  }
  .footer-main {
    text-align: center;
  }
  .footer {
    flex-direction: column-reverse;
    text-align: center;
    height: 200px;
    align-items: center;
  }
  .footer-contact,
  .footer-name {
    margin: 0;
    padding: 0;
  }
  .footer-name h4,
  p {
    margin: 0;
    padding: 0;
  }
  .footer-contact p {
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .footer-contact h4 {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }

  #tranding .tranding-slider {
    height: 45rem;
  }
  nav {
    padding-inline: 10px;
  }
  .links img {
    width: 20px;
  }
  .links a {
    margin: 0 20px;
    transition: 0.3s ease-in;
  }
}
@media (max-width: 450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}
